.card-container{
    width: 80vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 32px;
    background: rgb(255,255,255);
    background: linear-gradient(195deg, rgb(110 239 246) 26%, rgba(186,243,255,1) 41%, rgba(129,234,255,1) 50%, rgba(0,212,255,1) 100%);
    box-shadow: 0 0 12px 0px rgb(0 0 0 / 23%);
}
.info-container{
    flex: 1 0 50%;
    display: flex;
    align-items: center;
}
.info-container > div{
    flex: 0 0 25%;
    padding: 0 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.info-container > div > h1, h2{
    font-weight: 200;
    font-size: calc(1rem + 1vmin);
}
.info-container > hr {
    height: 100px;
}

.card-container > img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}